.mainContainer {
  width: auto;
  height: 50%;
  background-color: #f5f5f5;
  padding: 10%;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .mainContainer {
    width: auto;
    height: 600px;
    background-color: #f5f5f5;
    align-items: center;
    margin: 0 5% 0 5%;
    padding: 30% 10% 10% 10%px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.mainContainer h2 {
  padding-bottom: 25px;
  text-align: center;
  font-weight: 500;
  padding-top: 20%;
}
@media screen and (max-width: 600px) {
  .mainContainer h2 {
    margin-bottom: 30%;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
  }
}
.mainContainer p {
  text-align: center;
  line-height: 80%;
  font-size: 20px;
  padding: 5px 20% 25px 20%;
  font-weight: 200;
  line-height: 24px;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .mainContainer p {
    margin: -25%;
    margin-bottom: 1%;
  }
}

.mainContainer button {
  width: 20%;
  height: 50px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: green;
  border: 1px none;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .mainContainer button {
    width: 70%;
    height: 50px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: green;
    border: 1px none;
  }
}
.mainContainer button a {
  text-decoration: none;
  color: white;
}
.mainContainer button:hover {
  background-color: darkslategrey;
}
